<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Top Stories - US </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let item of data?.articles">
    <img [src]="item.urlToImage" alt="" srcset="" />
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{item.description}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
